nav {
    ul{
        margin:0;
        padding:0;
        list-style: none;
    }

    li{
        display: inline-block;
    }

    li a{
        text-decoration: none;
        background: #000;
        color:#fff;

        font: {
            family:Arial;
            weight:100;
            size:60px;
        }
    }
}

.container {

    font: {
        family:Arial;
        weight:100;
        size:60px;
    }

    text: {
        align:center;
    }

    background: {
        color: #bbb;
    };

    h1 {
        font-size: 20px;
        color:green;
    }

    p {
        font-size: 30px;
        color:blue;
    }
}